<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>郑州铁路局合同管理信息化系统</title>
<link href="style/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="head wrap">
	<h1 class="bt1 fl">郑州铁路局合同管理信息化系统</h1>
    <ul class="top_link fr">
    	<li><a href="#">局机关</a></li>
        <li><a href="#">局管各单位</a></li>
        <li><a href="#">局管非运输企业</a></li>
        <li><a href="#" class="login_btn">登录</a></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="nav_wrapper">
	<ul class="wrap nav">
    	<li>
        	<i class="ico_htsc"></i>
        	<br/><a href="#">合同审查</a>
         </li>
         <li>
        	<i class="ico_htcx"></i>
        	<br/><a href="#">合同查询</a>
         </li>
         <li>
        	<i class="ico_httj"></i>
        	<br/><a href="#">合同统计</a>
         </li>
         <li>
        	<i class="ico_htfx"></i>
        	<br/><a href="#">合同分析</a>
         </li>
         <li>
        	<i class="ico_htwtk"></i>
        	<br/><a href="#">合同管理问题库</a>
         </li>
         <li>
        	<i class="ico_xtwh"></i>
        	<br/><a href="#">系统维护</a>
         </li>
    </ul>
</div>
<div class="content wrap">
	<div class="blank20"></div>
	<div class="sidebar fl">
    	<dl>
        	<dt>合同审查</dt>
            <dd><a href="#">合同审查</a></dd>
            <dd><a href="#">合同审查</a></dd>
        </dl>
    </div>
  <div class="maincon fr">
    	<div class="bt2 btmx">合同审查</div>
        <div class="bt2 btcter">郑州铁路局非运输企业合同审查联签表</div>
      <table class="htsc_tab">
        <tbody>
          <tr>
            <td class="tab_th">送审部门</td>
            <td width="160"><input type="text" class="text3_bum"></td>
            <td class="tab_th">对方单位</td>
            <td colspan="4"><input type="text" class="text4_com"></td>
          </tr>
          <tr>
            <td class="tab_th">合同名称</td>
            <td colspan="6"><input type="text" class="text6_600"></td>
          </tr>
          <tr>
            <td class="tab_th">合同标的额</td>
            <td><input type="text" class="text3_bum"></td>
            <td colspan="2" class="tab_th">经办人</td>
            <td width="80"><input type="text" class="text7_40"></td>
            <td class="tab_th">电话</td>
            <td width="120"><input type="text" class="text5_100"></td>
          </tr>
          <tr>
            <td class="tab_th">合同谈判人</td>
            <td colspan="2"><input type="text" class="text8_240"></td>
            <td class="tab_th">参加人</td>
            <td colspan="3"><input type="text" class="text8_240"></td>
          </tr>
          <tr>
            <td class="border_nob tab_th">合同经办</td>
            <td class="border_nob" colspan="6"></td>
          </tr>
          <tr>
            <td class="border_not tab_th">部门</td>
            <td class="border_not" colspan="6">部门负责人(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td rowspan="2" class="tab_th">财务部门</td>
            <td class="border_nob" colspan="6"></td>
          </tr>
          <tr>
            <td class="border_not" colspan="6">部门负责人(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td rowspan="2" class="tab_th">监察部门</td>
            <td class="border_nob" colspan="6"></td>
          </tr>
          <tr>
            <td class="border_not" colspan="6">部门负责人(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="border_nob tab_th">合同管理</td>
            <td colspan="6">法律顾问(合同管理员):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="border_not tab_th">部门</td>
            <td colspan="6">部门负责人(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="border_nob tab_th">业务部门</td>
            <td class="border_nob" colspan="6"></td>
          </tr>
          <tr>
            <td class="border_not tab_th">主管领导</td>
            <td class="border_not" colspan="6">主管领导(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="border_nob tab_th">合同管理部门</td>
            <td class="border_nob" colspan="6"></td>
          </tr>
          <tr>
            <td class="border_not tab_th">主管领导</td>
            <td class="border_not" colspan="6">主管领导(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="tab_th">法定代表人</td>
            <td class="border_not" colspan="6">法定代表人(签字):<input type="text" class="text1_name">&nbsp;&nbsp;&nbsp;<input type="tel" class="text2_num">年<input type="tel" class="text2_num">月<input type="tel" class="text2_num">日</td>
          </tr>
          <tr>
            <td class="tab_th">局法律事物部门</td>
            <td colspan="6"><input type="text" class="text6_600"></td>
          </tr>
          <tr>
          	<td colspan="7">注：仅签字视为同意签订合同</td>
          </tr>
        </tbody>
      </table>
      <div class="btm_btn"><a class="btn dybtn" href="#">打印</a><a class="btn dcbtn" href="#">导出</a></div>
    </div>
    <div class="clear"></div>
</div>
<div class="bottom">郑州铁路局企法处</div>
</body>
</html>
