<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>左侧导航</title>
<link href="style/css/main.css" rel="stylesheet" type="text/css">
<link href="style/css/base.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="content wrap">
	<div class="blank20"></div>
	<div class="sidebar fl">
    	<dl>
        	<dt>局机关合同审查</dt>
            <dd><a href="jsp/pact/pact_input.html" target="main">合同起草</a></dd>
            <dd><a href="jsp/pact/pact_list.html" target="main">合同列表</a></dd>
            <dd><a href="jsp/pact/pact_sh_list.html" target="main">合同审查</a></dd>
            
            <dt>局管单位合同审查</dt>
            <dd><a href="jsp/pact/pact_input.html" target="main">合同起草</a></dd>
            <dd><a href="jsp/pact/pact_list.html" target="main">合同列表</a></dd>
            <dd><a href="jsp/pact/pact_sh_list.html" target="main">合同审查</a></dd>
            
            
            <dt>非运输企业合同审查</dt>
            <dd><a href="jsp/pact/pact_input.html" target="main">合同起草</a></dd>
            <dd><a href="jsp/pact/pact_list.html" target="main">合同列表</a></dd>
            <dd><a href="jsp/pact/pact_sh_list.html" target="main">合同审查</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>
