<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>合同管理问题库</title>
<link href="style/css/main.css" rel="stylesheet" type="text/css">
<link href="style/css/base.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="content wrap">
	<div class="blank20"></div>
	<div class="sidebar fl">
    	<dl>
        	<dt>合同管理问题库</dt>
            <dd><a href="jsp/wtkgl/wtk_list.html" target="main">合同问题库列表</a></dd>
            <dd><a href="jsp/wtkgl/wtk_select.html" target="main">问题库查询</a></dd>
            <!--<dd><a href="jsp/wtkgl/wtk_list.html" target="main">问题库分析</a></dd>-->
        </dl>
    </div>
  
    <div class="clear"></div>
</div>
</body>
</html>
