<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>郑州铁路局合同管理信息化系统</title>
</head>
<frameset rows="172px,*,56" cols="*" frameborder="no" border="0" framespacing="0">
    <!-- 头部 -->
    <frame src="top.html" name="topFrame" scrolling="no" noresize="noresnavize" id="topFrame" title="topFrame" />
    <frameset cols="220px,*" frameborder="no" border="0" framespacing="0">
    	<frame src="left6.html" id="leftFrame" name="left" noresize="noresnavize" title="leftFrame" scrolling="no"/>
    	<frame src="welcome.html" id="indexFrame" name="main" noresize="noresnavize"/>
    </frameset>
    <frame src="bottom.html" name="topFrame" scrolling="no" noresize="noresnavize" id="topFrame" title="topFrame" />
</frameset>
<noframes>
	<body> 
	很抱歉，您使用的浏览器不支援框架功能，请转用新的浏览器。 
	</body> 
</noframes>
</html>   