<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>郑州铁路局合同管理信息化系统</title>
<link href="style/css/main.css" rel="stylesheet" type="text/css">
<link href="style/css/base.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="plug/jquery-1.8.3.min.js"></script>
<script>
  $(function(){
    /*alert("kkkkkkkkkkkk");*/
      $(".nav li").click(function(){
        $(this).css("background","#555").siblings("li").css("background","none");
      });
  })
  
</script>
</head>

<body>
<div class="head wrap">
	<h1 class="bt1 fl">郑州铁路局合同管理信息化系统</h1>
    <ul class="top_link fr">
    	<li><a href="#">局机关</a></li>
        <li><a href="#">局管各单位</a></li>
        <li><a href="#">局管非运输企业</a></li>
        <li><a href="#" class="login_btn">登录</a></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="nav_wrapper">
  <ul class="wrap nav">
  	
  	<li style="background:#555;">
          <i class="ico_xtwh"></i>
          <br/><a href="welcome.html"  target="main">我的桌面</a>
         </li>
      	
      	<li>
          <i class="ico_xtwh"></i>
          <br/><a href="left6.html"  target="left">通知公告</a>
         </li>
      	
      	<li>
          <i class="ico_htsc"></i>
          <br/><a href="left.html" target="left">合同审查签订</a>
         </li>
         <li>
          <i class="ico_htcx"></i>
          <br/><a href="left2.html" target="left">合同履行情况</a>
         </li>
          <li>
          <i class="ico_htwtk"></i>
          <br/><a href="left5.html"  target="left">合同管理问题库</a>
         </li>
         
         <li>
          <i class="ico_htfx"></i>
          <br/><a href="left4.html"  target="left">合同查询分析</a>
         </li>
        
         <li>
          <i class="ico_xtwh"></i>
          <br/><a href="left6.html"  target="left">系统维护</a>
         </li>
         
    </ul>
</div>
</body>
</html>
